doc/drawing.dtd

<?xml version="1.0"?>
<!ENTITY % PRIMITIVE "TEXT | LOGO | BITMAP | POLYLINE | ARC | BARCODE | DATAMATRIX | QRCODE | INFOGLYPH | PDF417 | BURST | TEXTRING | BANDING">
<!ENTITY % FUNCTION "DXF_IMPORT">
<!ENTITY % CENTER "POINT">
<!ELEMENT DRAWING (ROOT | (SURFACE, ROOT) | (LAYERS, ROOT))>
<!ATTLIST DRAWING
	UNIT			(MM | INCH)	"MM">

<!ELEMENT LAYERS (LAYER)+>
<!ELEMENT LAYER (#PCDATA) >
<!ATTLIST LAYER
	NAME			CDATA		#REQUIRED
	HEIGHT_Z_AXIS		CDATA		#IMPLIED
	COLOR			CDATA		#IMPLIED>

	
<!ELEMENT ROOT (GROUP | MATRIX | VLM_REFERENCE | %FUNCTION; | %PRIMITIVE; )+>
<!ATTLIST ROOT
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#IMPLIED
	OFFSET_Y		CDATA		#IMPLIED>
	
<!ELEMENT VLM_REFERENCE (#PCDATA)>
<!ATTLIST VLM_REFERENCE
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	SCALE_X			CDATA		#IMPLIED
	SCALE_Y			CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT GROUP (GROUP | MATRIX | VLM_REFERENCE | %PRIMITIVE;)+>
<!ATTLIST GROUP
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#REQUIRED
	HEIGHT			CDATA		#REQUIRED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>


<!ELEMENT MATRIX ((FRAME | FRAME_REFERENCE), (DEF_CELL_LAYOUT?, CELL_LAYOUT*))>
<!ATTLIST MATRIX
	BINNING			(N | S | D)		"N">

<!ELEMENT FRAME_REFERENCE EMPTY>
<!ATTLIST FRAME_REFERENCE
	DATABASE		CDATA		#REQUIRED
	KEY			CDATA		#REQUIRED
	TRACK			CDATA		#IMPLIED>

<!ELEMENT FRAME EMPTY>
<!ATTLIST FRAME
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#REQUIRED
	HEIGHT			CDATA		#REQUIRED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	NUM_ROWS		CDATA		#REQUIRED
	NUM_COLS		CDATA		#REQUIRED
	SHIFT_X			CDATA		#REQUIRED
	SHIFT_Y			CDATA		#REQUIRED
	INTERLEAVE_X		CDATA		#IMPLIED
	INTERLEAVE_Y		CDATA		#IMPLIED
	GROUP_COUNT_X		CDATA		#IMPLIED
	GROUP_COUNT_Y		CDATA		#IMPLIED
	GROUP_SHIFT_X		CDATA		#IMPLIED
	GROUP_SHIFT_Y		CDATA		#IMPLIED
	GROUP_COUNT_X_2		CDATA		#IMPLIED
	GROUP_COUNT_Y_2		CDATA		#IMPLIED
	GROUP_SHIFT_X_2		CDATA		#IMPLIED
	GROUP_SHIFT_Y_2		CDATA		#IMPLIED
	GROUP_COUNT_X_3		CDATA		#IMPLIED
	GROUP_COUNT_Y_3		CDATA		#IMPLIED
	GROUP_SHIFT_X_3		CDATA		#IMPLIED
	GROUP_SHIFT_Y_3		CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	CUSTOM			CDATA		#IMPLIED
	LAYER			CDATA		#IMPLIED
	CELL_WIDTH		CDATA		#REQUIRED
	CELL_HEIGHT		CDATA		#REQUIRED
	CELL_OFFSET_X		CDATA		#REQUIRED
	CELL_OFFSET_Y		CDATA		#REQUIRED
	CELL_ANGLE		CDATA		#IMPLIED>

<!ELEMENT DEF_CELL_LAYOUT (GROUP | VLM_REFERENCE | %PRIMITIVE;)*>

<!ELEMENT CELL_LAYOUT (GROUP | VLM_REFERENCE | %PRIMITIVE;)*>
<!ATTLIST CELL_LAYOUT
	BIN			CDATA		#REQUIRED>

<!ELEMENT TEXT (#PCDATA)>
<!ATTLIST TEXT
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	FONT			CDATA		#REQUIRED
	FONT_HEIGHT		CDATA		#REQUIRED
	FONT_RATIO		CDATA		#REQUIRED
	FONT_ITALIC		CDATA		#IMPLIED
	CHAR_SPACING		CDATA		#IMPLIED
	LINE_SPACING		CDATA		#IMPLIED
	ALIGNMENT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	MONOSPACE		(N | Y)		"N"
	CROSSLESS		(N | Y)		"N"
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT TEXTRING (#PCDATA)>
<!ATTLIST TEXTRING
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	FONT			CDATA		#REQUIRED
	FONT_HEIGHT		CDATA		#REQUIRED
	FONT_RATIO		CDATA		#REQUIRED
	FONT_ITALIC		CDATA		#IMPLIED
	CHAR_SPACING		CDATA		#IMPLIED
	LINE_SPACING		CDATA		#IMPLIED
	ALIGNMENT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	MONOSPACE		(N | Y)		"N"
	CROSSLESS		(N | Y)		"N"
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED
  RADIUS	CDATA		#IMPLIED
  START_ANGLE CDATA #IMPLIED
  IS_CCW  CDATA   #IMPLIED
  FIT_TO_ANGLE_SECTOR CDATA #IMPLIED
  ANGLE_SECTOR  CDATA #IMPLIED>

<!ELEMENT LOGO (#PCDATA)>
<!ATTLIST LOGO
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	SCALE_X			CDATA		#IMPLIED
	SCALE_Y			CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT BITMAP (#PCDATA)>
<!ATTLIST BITMAP
	ID				CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	DENSITY_X		CDATA		#IMPLIED
	DENSITY_Y		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	INVERTED		(N | Y)		"N"
	BMP_INTERLEAVE_X	CDATA		#IMPLIED
	BMP_INTERLEAVE_Y	CDATA		#IMPLIED
	BMP_TRAILER			CDATA		#IMPLIED
	BMP_VERTICAL	(N | Y)		"N"
	MONOCHROME		(N | Y)		"N"
	DITHERING_TYPE	(BURKES | STUCKI | FLOYD_STEINBERG | JARVIS_JUDICE_NINKE) "FLOYD_STEINBERG"
	DITHERING_SCALE	CDATA		#IMPLIED
	BMP_ANTIALIASED		(N | Y)		"N"
	LP			CDATA		#IMPLIED>

<!ELEMENT POLYLINE ((POINT, POINT+) | (POLYPOINT, POLYPOINT+))>
<!ATTLIST POLYLINE
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#IMPLIED
	OFFSET_Y		CDATA		#IMPLIED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT ARC (POINT, POINT, %CENTER;, DIRECTION)>
<!ATTLIST ARC
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#IMPLIED
	OFFSET_Y		CDATA		#IMPLIED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	HATCH			(N | Y)		"N"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"N"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"N"
	HATCH_OUTLINE_CORR	(N | Y)		"N"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"N"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT BARCODE (#PCDATA)>
<!ATTLIST BARCODE
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	BARCODE_TYPE		(CODE39_EXT | CODE39 | CODE93 | CODE128 | EAN_UCC128 | 2_OF_5 | UPC-A | UPC-E | EAN-8 | EAN-13 | BOOKLAN | CODABAR | BC412)	"CODE39_EXT"
	BARCODE_ELEMENT_WIDTH	CDATA		#REQUIRED
	BARCODE_ELEMENT_RATIO	CDATA		#IMPLIED
	BARCODE_QUIET_ZONE	(N | Y)		"N"
	BARCODE_CHECK_DIGIT	(N | Y)		"N"
	BARCODE_INVERT		(N | Y)		"N"
	BARCODE_KEEP_SIZE	(BOX | ELEMENT)	"BOX"
	HATCH			(Y)		"Y"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"Y"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"Y"
	HATCH_OUTLINE_CORR	(N | Y)		"Y"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"Y"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT DATAMATRIX (#PCDATA)>
<!ATTLIST DATAMATRIX
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	DATAMATRIX_TYPE		(ECC00 | ECC50 | ECC80 | ECC100 | ECC130 | ECC140 | ECC200_SQUARE | ECC200_RECT)	"ECC200_SQUARE"
	DATAMATRIX_CELL_SIZE	CDATA		#IMPLIED
	DATAMATRIX_FORMAT_ID	(NONE | NUM_500 | ALPHA_500 | ALPHA_PUNC_500 | ALPHA_NUM_500)	"NONE"
	DATAMATRIX_CELL_DENSITY	(MINIMUM | 10X10 | 12X12 | 14X14 | 16X16 | 18X18 | 20X20 | 22X22 | 24X24 | 26X26 | 32X32 | 36X36 | 40X40 | 44X44 | 48X48 | 52X52 | 64X64 | 72X72 | 88X88 | 96X96 | 102X102 | 132X132 | 144X144 | 8X18 | 8X32 | 12X26 | 12X36 | 16X36 | 16X48 | 9X9 | 11X11 | 13X13 | 15X15 | 17X17 | 19X19 | 21X21 | 23X23 | 25X25 | 27X27 | 29X29 | 31X31 | 33X33 | 35X35 | 37X37 | 39X39 | 41X41 | 43X43 | 45X45 | 47X47 | 49X49) "MINIMUM"
	DATAMATRIX_BURST_MODE	(N | Y)		"N"
	DATAMATRIX_KEEP_SIZE	(BOX | CELL)	"BOX"
	HATCH			(Y)		"Y"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"Y"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"Y"
	HATCH_OUTLINE_CORR	(N | Y)		"Y"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"Y"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT QRCODE (#PCDATA)>
<!ATTLIST QRCODE
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	QRCODE_MODEL		(1 | 2 | MICRO_QR)	"2"
	QRCODE_ECC_LEVEL	(L | M | Q | H)	"M"
	QRCODE_CELL_PITCH	CDATA		#IMPLIED
	QRCODE_CELL_ADJUST	CDATA		#IMPLIED
	QRCODE_QUIET_ZONE	CDATA		#IMPLIED
	QRCODE_BURST_MODE	(N | Y)		"N"
	QRCODE_KEEP_SIZE	(CELL)		"CELL"
	HATCH			(Y)		"Y"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"Y"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"Y"
	HATCH_OUTLINE_CORR	(N | Y)		"Y"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"Y"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT INFOGLYPH (#PCDATA)>
<!ATTLIST INFOGLYPH 
	ID				CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			( N | H | V )	"N"
	REF_POINT		( LB | CB | RB | LC | CC | RC | LT | CT | RT )	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			( N | Y )		"N"

	INFOGLYPH_BLOCKDIM	( 2X2 | 2X3 | 2X4 | 2X5 |
						  3X2 | 3X3 | 3X4 | 3X5 | 3X6 | 3X7 | 3X8 | 3X9 |
						  4X2 | 4X3 | 4X4 | 4X5 | 4X6 | 4X7 |
						  5X2 | 5X3 | 5X4 | 5X5 | 
						  6X3 | 6X4 |
						  7X3 | 7X4 |
						  8X3 |
						  9X3 )		"3X3"
	INFOGLYPH_ERRORCOR	( ERRORCORRECTION_20 |
						  ERRORCORRECTION_30 |
						  ERRORCORRECTION_40 |
						  ERRORCORRECTION_50 |
						  ERRORCORRECTION_60 |
						  ERRORCORRECTION_70 |
						  ERRORCORRECTION_80 |
						  ERRORCORRECTION_90 )	"ERRORCORRECTION_50"	
	INFOGLYPH_CODESET	( CODESET_NOMAPPING |
						  CODESET_8BIT |
						  CODESET_7BIT_ASCII_US | 
					      CODESET_7BIT_ASCII_GER |
						  CODESET_6BIT_UPPERLOWER_DOT |
						  CODESET_6BIT_UPPERLOWER_SLASH |
						  CODESET_6BIT_UPPER_SPECIAL |
				          CODESET_6BIT_LOWER_SPECIAL |
						  CODESET_5BIT_UPPER | 
						  CODESET_5BIT_LOWER |
			              CODESET_4BIT_NUMBERS )	"CODESET_6BIT_UPPERLOWER_DOT"
	INFOGLYPH_BURST_MODE ( N | Y )			"N"
	INFOGLYPH_KEEP_SIZE	 ( BOX | CELL )		"BOX"

	HATCH						( Y )		"Y"
	HATCH_DIRECTION				( UNI | BI | MEANDER | ON_THE_FLY )	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE					CDATA		#IMPLIED
	HATCH_NO_OUTLINE			( N | Y )		"Y"
	HATCH_INVERSE				( N | Y )		"N"
	HATCH_TO_OUTLINE			( N | Y )		"Y"
	HATCH_OUTLINE_CORR			( N | Y )		"Y"
	HATCH_AUTO_LINE_WIDTH		( N | Y )		"Y"
	HATCH_OPTIMIZE_JUMPS	    ( N | Y )		"N"
	HATCH_FROM_OUTLINE			CDATA		#IMPLIED
	HATCH_OVERLAP				CDATA		#IMPLIED
	HP							CDATA		#IMPLIED
	LP							CDATA		#IMPLIED >

<!ELEMENT PDF417 (#PCDATA)>
<!ATTLIST PDF417
	ID			CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#REQUIRED
	OFFSET_Y		CDATA		#REQUIRED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)	"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	USE_BOX			(N | Y)		"N"
	PDF417_MODULE_WIDTH	CDATA		#REQUIRED
	PDF417_MODULE_HEIGHT	CDATA		#IMPLIED
	PDF417_QUIET_ZONE	(N | Y)		"N"
	PDF417_TRUNCATED	(N | Y)		"N"
	PDF417_INVERT		(N | Y)		"N"
	PDF417_COMPRESSION	(AUTO_EXC_BIN |AUTO_EXC_BIN_NUM | BIN | EXC | NUM)	"AUTO_EXC_BIN"
	PDF417_ERR_CORR_LEVEL	(AUTO | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8)		"AUTO"
	PDF417_ERR_CORR_OVERHEAD	CDATA		#IMPLIED
	PDF417_SIZE_MAX_ROWS	CDATA		#IMPLIED
	PDF417_SIZE_MAX_COLS	CDATA		#IMPLIED
	PDF417_KEEP_SIZE	(BOX | ELEMENT)	"BOX"
	HATCH			(Y)		"Y"
	HATCH_DIRECTION		(UNI | BI | MEANDER | ON_THE_FLY)	"BI"
	HATCH_ON_THE_FLY_DISTANCE	CDATA		#IMPLIED
	HATCH_ANGLE		CDATA		#IMPLIED
	HATCH_NO_OUTLINE	(N | Y)		"Y"
	HATCH_INVERSE		(N | Y)		"N"
	HATCH_TO_OUTLINE	(N | Y)		"Y"
	HATCH_OUTLINE_CORR	(N | Y)		"Y"
	HATCH_AUTO_LINE_WIDTH	(N | Y)		"Y"
	HATCH_OPTIMIZE_JUMPS	(N | Y)		"N"
	HATCH_FROM_OUTLINE	CDATA		#IMPLIED
	HATCH_OVERLAP		CDATA		#IMPLIED
	HP			CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>

<!ELEMENT BURST (BURST_DOT, BURST_DOT+)>
<!ATTLIST BURST
	ID			CDATA		#IMPLIED
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	LP			CDATA		#IMPLIED>
	
<!ELEMENT BANDING EMPTY>
<!ATTLIST BANDING
	ID					CDATA		#IMPLIED
	WIDTH				CDATA		#IMPLIED
	HEIGHT				CDATA		#IMPLIED
	OFFSET_X			CDATA		#REQUIRED
	OFFSET_Y			CDATA		#REQUIRED
	START_ANGLE			CDATA		#REQUIRED
	END_ANGLE			CDATA		#REQUIRED
	DIRECTION_X			CDATA		#IMPLIED
	DIRECTION_Y			CDATA		#IMPLIED
	AXIS_VELOCITY		CDATA		#IMPLIED
	AXIS_ACCELERATION	CDATA		#IMPLIED
	AXIS_DECELERATION	CDATA		#IMPLIED
	RING_COUNT			CDATA		#IMPLIED
	RING_DISTANCE		CDATA		#IMPLIED
	LAYER				CDATA		#IMPLIED
	DESCRIPTION			CDATA		#IMPLIED
	LP					CDATA		#IMPLIED>

<!ELEMENT POINT (#PCDATA)>

<!ELEMENT POLYPOINT (#PCDATA)>
<!ATTLIST POLYPOINT
	TYPE			(LINE | ARC | BEZIER)		"LINE">
	
<!ELEMENT DIRECTION (#PCDATA)>
<!ELEMENT BURST_PARAMID (#PCDATA)>
<!ELEMENT BURST_DOT (POINT, BURST_PARAMID)>

<!ELEMENT DXF_IMPORT (#PCDATA)>
<!ATTLIST    DXF_IMPORT
	ID				CDATA		#IMPLIED
	WIDTH			CDATA		#IMPLIED
	HEIGHT			CDATA		#IMPLIED
	OFFSET_X		CDATA		#IMPLIED
	OFFSET_Y		CDATA		#IMPLIED
	ANGLE			CDATA		#IMPLIED
	REFLECT			(N | H | V)		"N"
	REF_POINT		(LB | CB | RB | LC | CC | RC | LT | CT | RT)	"LB"
	LAYER			CDATA		#IMPLIED
	DESCRIPTION		CDATA		#IMPLIED
	SPLINE_AS_POLYLINE	(N | Y)	"Y"
	ASPECT_RATIO	(N | Y)		"Y"
	TOLERANCE		CDATA		#IMPLIED
	HATCH			(N | Y)		"N"
	HP				CDATA		#IMPLIED
	LP				CDATA		#IMPLIED>
	
<!ELEMENT SURFACE (CYLINDER | PLANE)>
<!ATTLIST	   SURFACE
	USE_SURFACE_CORRECTION		(N | Y)	"N"
	USE_Z_CORRECTION			(N | Y)	"N">

<!ELEMENT CYLINDER (AXIS, ORIGIN)>
<!ATTLIST    CYLINDER
	RADIUS			CDATA		#REQUIRED
	SECTOR			CDATA		#IMPLIED
	FOCUS_DEPTH	CDATA		#IMPLIED
	CONVEX			(Y | N)		"Y"
	HEAD			(1 | 2)		"1">
	
<!ELEMENT AXIS (#PCDATA)>

<!ELEMENT ORIGIN (#PCDATA)>

<!ELEMENT PLANE (NORMAL, ORIGIN)>
<!ATTLIST PLANE
	FOCUS_DEPTH CDATA	#IMPLIED
	HEAD		(1 | 2)		"1">

<!ELEMENT NORMAL (#PCDATA)>

